<Head>
  <link rel='stylesheet' href='/css/forums.css' />
  </Head>
<Body>
<div class="bodyparts">
<div class="Header"> 
 <header>
<h1>List of Available Forums</h1>
</header> 
</div>
<div class="ForumDetails">
  <div>
{{#each forums as |forum|}}
    <div class="forum-container">
      <p><h2 id="forumIdT"><a href="/forums/{{forum.id}}">{{forum.title}}</a></h2></p>
      <p id="forumContent">{{forum.content}}</p>
    </div>
{{/each}}
</div>
</div>
<!-- Button trigger modal -->
<div class=neonbtn>
<btn data-bs-toggle="modal" data-bs-target="#exampleModal" id="createF">
<a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
       Create a Forum
    </a>  
</btn>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a Forum</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
<form>
  <label for="forumname">Name your Forum:</label><br>
  <input type="text"  id="forumname" name="fname"><br>
  <label for="forumdetails">Tell us what your Forum is about:</label><br>
  <textarea id="forumdetails" name="forumdetails" placeholder="eg. the area of interest, who it is for"></textarea>
</form>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="closebtn" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="savebtn">Save changes</button>
     
      </div>
    </div>
  </div>
 

</div>
</div>
</Body>
<script src='./js/logout.js'></script>
<script src='./js/forum.js'></script>