<div class="background">
<div class='row'>
    <div class='col-md-6' id="welcomeDiv">
<div class="welcome">Welcome</div>
</div>

<div class="container">
       <div class="box">
           <span style="--i:1;"><i>LOG</i> In <i>N</i>ow!</span>
           <span style="--i:2;"><i>LOG</i> In <i>N</i>ow!</span>
           <span style="--i:3;"><i>LOG</i> In <i>N</i>ow!</span>
           <span style="--i:4;"><i>LOG</i> In <i>N</i>ow!</span>
           <span style="--i:5;"><i>LOG</i> In <i>N</i>ow!</span>
           <span style="--i:6;"><i>LOG</i> In <i>N</i>ow!</span>
           <span style="--i:7;"><i>LOG</i> In <i>N</i>ow!</span>
           <span style="--i:8;"><i>LOG</i> In <i>N</i>ow!</span>
           <span style="--i:9;"><i>LOG</i> In <i>N</i>ow!</span>
           <span style="--i:10;"><i>LOG</i> In <i>N</i>ow!</span>
           <span style="--i:11;"><i>LOG</i> In <i>N</i>ow!</span>
           <span style="--i:12;"><i>LOG</i> In <i>N</i>ow!</span>
           <span style="--i:13;"><i>LOG</i> In <i>N</i>ow!</span>
           <span style="--i:14;"><i>LOG</i> In <i>N</i>ow!</span>
           <span style="--i:15;"><i>LOG</i> In <i>N</i>ow!</span>
           <span style="--i:16;"><i>LOG</i> In <i>N</i>ow!</span>
       </div>

<div class="forms-container">
<div class="form-container" id="fcontainer1">
 <form>
   <h2>Log In</h2>
  <div class="form-group">
    <label for="login-email" id="loginEm">Email address</label>
    <input type="email" class="form-control" id="login-email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="login-password">Password</label>
    <input type="password" class="form-control" id="login-password" placeholder="Password">
  </div>
  <button id="login-button" type="submit" class="btn btn-primary">Submit</button>
 </form>

</div>

<div class="form-container" id="fcontainer2">
 <form>
   <div><h2>Sign Up</h2></div>
  <div class="form-group">
    <label for="signup-email">Email address</label>
    <input type="email" class="form-control" id="signup-email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="signup-password">Password</label>
    <input type="password" class="form-control" id="signup-password" placeholder="Password">
  </div>
    <div class="form-group">
    <label for="confirm-password">Confirm Password</label>
    <input type="password" class="form-control" id="confirm-password" placeholder="Password">
  </div>
  <button id="signup-button" type="submit" class="btn btn-primary">Submit</button>
 </form>
</div>
</div>
<link rel="stylesheet" href="./css/homepage.css">
<script src='./js/homepage.js'></script>
<script src='./js/logout.js'></script>
</div>