body {
    height: 100vh;
    background-size:cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav {
    background-color: rgba(0, 0, 0, 0.826);
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav div ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    margin-bottom: 0px;
}

#nav-spacing {
    padding-top: 80px
}

#links {
    display: flex;
}

h1 {
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.form-container {
    width: 45%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 0px;
}

.forms-container {
    display: none;
    width: 80%;
    margin: auto;
    align-items: center;
}

.hide {
    display: none;
}

#profile-upload{
    display: flex;
    flex-direction: column;
    width: 200px;
}

#forum-container {
    width: 90%;
    margin: auto;
}

#forum-head{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.forum-user {
    display: initial;
    padding: 5px;
    font-size: 12px;
}

.tiny-pic{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#pic-container{
    max-width: 300px;
    height: 300px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.following-item{
    display: flex;
    align-items: center;
}

.box-styling {
    background-color: rgba(245, 245, 245, 0.861);
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black inset;
    margin-bottom: 5px;
    
}

.contact-info a {
    font-size: 10px;
    padding: 0px;
}

.profile-pic, .contact-info {
max-width: 316px;
}

.row {
    justify-content: space-between;
}

#forums-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#user-follow ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
}

#user-follow ul li {
    width: 50%;
}

.contact-image {
    margin-right: 10px;
}

#name-container, #bio-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#edit-name-container {
    display: none;
}

#edit-name-container input {
    width:40%;
}

.edit-icon {
    width: 40px;
    cursor: pointer;
}

#edit-bio-container {
    display: none;
    align-items: center;
    justify-content: space-between;
}

#comment-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-form {
    display: none;
}

#new-comment-input{
    width: 100%;
    height: 100px;
}

#cancel-comment{
    display: none;
}

.spinner {
    cursor: pointer;
    margin-top: 180px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.spinner .box {
    transform-style:preserve-3d;
    animation: animate 25s linear infinite;
}

@keyframes animate {
    0%  {
        transform:perspective(1000px) rotateX(0deg) rotate(25deg);
        }
    100%{
        transform:perspective(1000px) rotateX(360deg) rotate(25deg); 
        }
}
.spinner .box span {
    position: absolute;
    color:#fff;
    font-size: 3em;
    white-space:nowrap;
    text-transform: uppercase;
    font-weight: 900;
    padding: 0 10px;
    background: linear-gradient(90deg, transparent, rgba(0,0,0,0.5), transparent);
    line-height: 0.76em;
    transform-style: preserve-3d;
    text-shadow: 0 5px 15px rgba(0,0,0,0,25);
    transform: translate(-50%, -50%) rotateX(calc(var(--i) * 22.5deg)) translateZ(106px);

}

.spinner .box span i:nth-child(1){
    font-style: initial;
    color: red;

}
.spinner .box span i:nth-child(2){
    font-style: initial;
    color: blue;

}

.welcometext {
    width: 80%;
    margin: auto;
    margin-bottom: 5px;
    
}


/*background-image: url("../images/human-circle.svg");
