body {
    padding: 0px 5px;
}

.form-container {
    width: 45%;
    margin: auto;
}

.forms-container {
    display: flex;
}

.hide {
    display: none;
}

#profile-upload{
    display: flex;
    flex-direction: column;
}