body {
    background-image: url("../images/human-circle.svg");
    height: 100vh;
    background-size:cover;
    padding: 0px 5px;
}

.form-container {
    width: 45%;
    margin: auto;
}

.forms-container {
    display: flex;
}

.hide {
    display: none;
}

#profile-upload{
    display: flex;
    flex-direction: column;
}

#forum-container {
    border: 2px solid black
}

.comment-container{
    border: 2px solid grey;
}

.tiny-pic{
    width: 50px;
    border-radius: 50px;
}